:root {
  --light-red: hsl(356, 100%, 66%);
  --very-light-red: hsl(355, 100%, 74%);
  --very-dark-blue: hsl(208, 49%, 24%);
  --white: hsl(0, 0%, 100%);
  --grayish-blue: hsl(240, 2%, 79%);
  --very-dark-grayish-blue: hsl(207, 13%, 34%);
  --very-dark-black-blue: hsl(240, 10%, 16%);
  --very-light-gray: hsl(210, 6%, 94%);
  --grey-text: hsl(215, 8%, 39%);
  --background-gradient: linear-gradient(120deg, hsl(13, 100%, 72%), hsl(353, 100%, 62%));
  --state: linear-gradient(180deg, hsl(237, 17%, 21%), hsl(237, 23%, 32%));
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

img {
  max-width: 100%;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--very-dark-blue);
  font-weight: bold;
}

p {
  font-size: 1.6rem;
  line-height: 1.6;
}

.btn {
  border-radius: 50px;
  font-weight: bold;
}

.btn-light {
  color: var(--light-red);
  background-color: var(--white);
}

body {
  font-family: "Overpass", sans-serif;
  overflow-x: hidden;
}

.header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5rem 5% 0 5%;
  background-color: transparent;
  z-index: 100;
}
.header .unactive {
  display: none;
}
.header .nav {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 12rem;
  width: 33rem;
  text-align: center;
  background-color: var(--white);
  border-radius: 5px;
  box-shadow: 0 5px 20px var(--grey-text);
  font-size: 1.8rem;
  display: none;
  color: var(--very-dark-blue);
}
.header .nav .nav-list .nav-item {
  cursor: pointer;
  margin: 3rem 0;
}
.header .nav .nav-list .nav-item img {
  margin-left: 0.5rem;
}
.header .nav .nav-list .nav-item .arrow-light {
  display: none;
}
.header .nav .nav-list .nav-item .sub-list {
  margin: 0 2rem;
  margin-top: 2rem;
  padding-top: 2rem;
  border-radius: 5px;
  font-size: 1.6rem;
  background-color: var(--very-light-gray);
  display: none;
}
.header .nav .nav-list .nav-item .sub-list li {
  padding-bottom: 2rem;
  font-weight: bold;
}
.header .nav .nav-list .nav-item .sub-list li a {
  color: var(--grey-text);
}
.header .nav .nav-list .nav-item .active {
  display: block;
}
.header .nav .nav-list .active h4 {
  color: var(--grey-text);
}
.header .nav .nav-list .active img {
  transform: rotate(180deg);
}
.header .nav .nav-buttons {
  border-top: 2px solid var(--very-light-gray);
  margin: 0 2rem;
  padding-top: 1.5rem;
  padding-bottom: 2rem;
}
.header .nav .nav-buttons a {
  display: block;
  color: var(--very-dark-blue);
  font-weight: bold;
  margin-top: 2rem;
}
.header .nav .nav-buttons .btn {
  margin-left: 7.5rem;
  margin-right: 7.5rem;
  padding: 1.5rem 0;
  color: var(--white);
  background-image: var(--background-gradient);
}
.header .nav-active {
  display: block;
}

.hero {
  width: 100vw;
  padding: 20rem 3rem 16.5rem 3rem;
  background-color: var(--light-red);
  background-image: url(../images/bg-pattern-intro-mobile.svg), var(--background-gradient);
  background-repeat: no-repeat;
  background-position: 35% 35%;
  border-bottom-left-radius: 100px;
  text-align: center;
}
.hero .container .content {
  color: var(--white);
}
.hero .container .content h1 {
  font-size: clamp(3.4rem, 5vw, 6rem);
  color: var(--white);
}
.hero .container .content p {
  margin-top: 1.7rem;
  line-height: 1.3;
  font-size: clamp(1.8rem, 2.65vw, 2rem);
  font-weight: 300;
}
.hero .container .buttons-container {
  margin-top: 4.5rem;
}
.hero .container .buttons-container .btn {
  display: inline-block;
  width: 14rem;
  font-size: 1.7rem;
  padding: 1.2rem 0 1.1rem 0;
}
.hero .container .buttons-container .btn-transparent {
  margin-left: 1rem;
  color: var(--white);
  padding: 1.1rem 0 1rem 0;
  border: 1px solid;
}
.hero .container .buttons-container .btn-transparent:hover {
  color: var(--very-light-red);
  background-color: var(--white);
  border: none;
}
.hero .container .buttons-container .btn-light:hover {
  color: var(--white);
  background-color: var(--very-light-red);
}

.about {
  text-align: center;
  margin-top: clamp(10rem, 10vw, 18rem);
}
.about .title {
  margin-bottom: clamp(5rem, 6vw, 9rem);
  font-size: clamp(2.8rem, 3vw, 4rem);
  font-weight: 600;
  letter-spacing: -0.8px;
}
.about .picture {
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 16.6rem;
  padding-bottom: 16.6rem;
}
.about .content h3 {
  padding: 0 3rem;
  margin-top: 4rem;
  font-size: 2.8rem;
}
.about .content p {
  margin-top: 1rem;
  padding: 0 2rem;
  font-weight: 100;
  color: var(--grey-text);
}

.state {
  margin-top: clamp(10rem, 20vw, 25rem);
  text-align: center;
}
.state .picture {
  background-image: url(../images/illustration-phones.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: -20rem;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  width: min(100%, 52.2rem);
  padding-bottom: min(105%, 57.9rem);
}
.state .container {
  background-color: var(--very-dark-blue);
  background-image: url(../images/bg-pattern-circles.svg), var(--state);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center -25rem, center;
  border-top-right-radius: 100px;
  border-bottom-left-radius: 100px;
  padding: 20rem 4rem 10rem 4rem;
}
.state .container h3 {
  color: var(--white);
  font-size: 3.5rem;
}
.state .container p {
  margin-top: 2rem;
  font-weight: 100;
  color: var(--white);
}

#first .picture {
  background-image: url(../images/illustration-editor-mobile.svg);
}

#second {
  margin-top: clamp(8rem, 18vw, 26rem);
}
#second .picture {
  background-image: url(../images/illustration-laptop-mobile.svg);
}

.footer {
  background-color: var(--very-dark-black-blue);
  border-top-right-radius: 100px;
  margin-top: 10rem;
  text-align: center;
  padding-top: 7rem;
}
.footer .lists-container {
  margin-top: 7.5rem;
}
.footer .lists-container ul {
  margin-top: 3rem;
  font-size: 1.8rem;
  font-weight: 300;
}
.footer .lists-container ul li a {
  line-height: 1.8;
  color: var(--grayish-blue);
}
.footer .lists-container ul li:nth-child(1) {
  margin-bottom: 1.8rem;
  font-weight: 600;
  color: var(--white);
}
.footer .attribution {
  padding-top: 8rem;
  font-size: 1.5rem;
}

@media (min-width: 950px) {
  .header {
    margin-left: 10vw;
    margin-right: 10vw;
    padding-left: 0;
    padding-right: 0;
  }
  .header .menu-btn {
    display: none;
  }
  .header .nav {
    all: unset;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-size: 1.6rem;
  }
  .header .nav .nav-list {
    display: flex;
    position: relative;
    margin-left: 7rem;
  }
  .header .nav .nav-list .nav-item {
    color: var(--white);
  }
  .header .nav .nav-list .nav-item:not(:first-child) {
    margin-left: 3.3rem;
  }
  .header .nav .nav-list .nav-item .arrow-dark {
    display: none;
  }
  .header .nav .nav-list .nav-item .arrow-light {
    display: inline;
  }
  .header .nav .nav-list .nav-item .sub-list {
    position: absolute;
    margin: 2rem 0 0 0;
    padding: 3rem 5rem 1rem 2rem;
  }
  .header .nav .nav-buttons {
    border: none;
    margin: 0;
    padding: 0;
  }
  .header .nav .nav-buttons a {
    display: inline-block;
    margin: 0;
    color: var(--white);
  }
  .header .nav .nav-buttons .btn {
    margin: 0 0 0 2rem;
    padding: 1.4rem 3.7rem;
    font-weight: 900;
    color: var(--light-red);
    background: var(--white);
  }
  .header .nav .nav-buttons .btn .btn:hover {
    color: var(--white);
    background-color: var(--very-light-red);
  }

  .hero {
    background-image: url(../images/bg-pattern-intro-desktop.svg), var(--background-gradient);
    background-position: 25% 50%;
  }

  .about .picture {
    position: absolute;
    background-size: cover;
    padding: 0;
    z-index: -1;
  }
  .about .container {
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: left;
  }
  .about .container .content {
    width: 48rem;
  }
  .about .container .content h3,
.about .container .content p {
    padding: 0;
  }

  #first .picture {
    background-image: url(../images/illustration-editor-desktop.svg);
    left: 56%;
    top: 50%;
    transform: translateY(-50%);
    width: min(60vw, 105rem);
    height: min(60vw, 100rem);
  }
  #first .container {
    padding-left: 5vw;
  }

  #second .picture {
    background-image: url(../images/illustration-laptop-desktop.svg);
    right: 56%;
    top: 50%;
    transform: translateY(-50%);
    width: min(55vw, 105rem);
    height: min(55vw, 90rem);
  }
  #second .container {
    align-items: flex-end;
    padding-right: 5vw;
  }

  .state {
    position: relative;
  }
  .state .picture {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  .state .container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 11rem 0;
    background-size: auto;
    background-position: -14.5vw 80%, center;
  }
  .state .container .content {
    width: 45rem;
    text-align: left;
  }

  .footer .footer-container {
    display: flex;
  }
  .footer .logo {
    width: 20%;
    margin-left: 8rem;
  }
  .footer .lists-container {
    padding: 0 35rem 0 10rem;
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: 0;
    text-align: left;
  }
  .footer .lists-container ul {
    margin: 0;
  }
}
@media (min-width: 1050px) {
  .state .container .content {
    width: 50rem;
    margin-right: 5vw;
  }
}
@media (min-width: 1350px) {
  .about .container .content {
    width: 53rem;
  }

  #first .container {
    padding-left: 10vw;
  }

  #second .container {
    padding-right: 10vw;
  }

  .state .picture {
    left: 10vw;
  }
  .state .container .content {
    width: 53rem;
    margin-right: 10vw;
  }
}
@media (min-width: 2000px) {
  .state .container .content {
    margin-right: 15vw;
  }

  #second .container {
    padding-right: 15vw;
  }
}/*# sourceMappingURL=main.css.map */