$light-red: hsl(356, 100%, 66%);
$very-light-red: hsl(355, 100%, 74%);
$very-dark-blue: hsl(208, 49%, 24%);
$white: hsl(0, 0%, 100%);
$grayish-blue: hsl(240, 2%, 79%);
$very-dark-grayish-blue: hsl(207, 13%, 34%);
$very-dark-black-blue: hsl(240, 10%, 16%);

html {
    box-sizing: border-box;
    font-size: 16px;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
  }
  
  ol, ul {
    list-style: none;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }

  a{
    text-decoration: none;
    color: white;
  }

.hero{
  height: 45vh;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  border-bottom-left-radius: 5em;
  background-color: $very-light-red;
  background-image: linear-gradient(to right, hsl(13, 100%, 72%), hsl(353, 100%, 62%));
}

.nav{
  display: flex;
  justify-content: space-between;
  margin-left: 8em;
  padding-top: 3em;
}

.nav-links{
    display: flex;
    margin-left: 3em;
    margin-right: 8em;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.header-links{
  *{
    padding-left: 1em;
  }
}

.btn-light{
  padding: 0.5em 1.8em;
  color: $light-red;
  background-color: $white;
  border-radius: 20px;
  font-weight: 700;
}

.content{
  display: flex;
  margin-top: 5em;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  align-items: center;
  gap: 1em;
  color: $white;
  flex-wrap: wrap;

  h1{
    font-size: 3.5em;
  }

  .btns{
    align-self: flex-end;
  }
}